* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");

/* ++++++++++++++++++++++++INDEX GRID +++++++++++++++++++++++*/

.bodyIndex {
  font-family: "Ubuntu", sans-serif;
  display: grid;
  grid-template-areas:
    "header header "
    "main main"
    "footer footer";
}

.headerFirst {
  grid-area: header;
}

.footerGrid {
  grid-area: footer;
}

.mainIndex {
  grid-area: main;
}

/* cierro grid index */

/* +++++++++++++++++Grid nuestra Empresa +++++++++++++++*/

.bodyNuestraEmpresa {
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

.mainNuestra {
  grid-area: main;
}

/* cierro grid nuestra empresa */

/* ++++++++++++++++++++++ Grid Sustentabilidad++++++++++++ */

.bodySustentabilidad {
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

.mainSustenta {
  grid-area: main;
}

/*++++++++++++++++++++++++ Grid contacto +++++++++++++++++*/

.bodyContact {
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

.mainContact {
  grid-area: main;
}

/* cierro grid contacto */

/* +++++++++++++++++++Grid Innovaciones+++++++++++++++++ */

.bodyInnovaciones {
  display: grid;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}

.mainInnova {
  grid-area: main;
}

/* ----------------------------CSS ---------------------------------*/

/* ----------------------------CSS ---------------------------------*/

/* ----------------------------CSS ---------------------------------*/

/* ----------------------------CSS ---------------------------------*/

/* ----------------------------Header---------------------------- */
.headerFirst {
  background-color: #fece18;
  position: sticky;
  top: 0;
}

.real-nav li {
  padding-left: 4em;
  margin-left: 2rem;
}

.real-nav li a {
  font-weight: 500;
}

.real-nav li a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  font-size: 1.5rem;
}
.real-nav li a:hover,
a:focus {
  background-size: 100% 2px;
}

.spanLogo img text {
  font-weight: bold;
  font-size: 5rem;
}

.conteinerLogo {
  width: 80px;
  height: 80px;
}

/* ---------------------------INDEX ---------------------------*/
.headerFirst {
  position: sticky;
  top: 0;
}

.bodyIndex {
  background: #fffc00;
  background: -webkit-linear-gradient(to left, #f5eeb7, #fece18);
  background: linear-gradient(to left, #f5eeb7, #fece18);
}

.sectionA {
  background-color: transparent;
  margin-top: 5rem;
  margin-right: 1rem;
  margin-bottom: 5rem;
}

.sectionB {
  background-color: transparent;
  margin-right: 1rem;
  margin-bottom: 5rem;
}

.sectionC {
  background-color: transparent;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.divH2 {
  margin-bottom: 2rem;
  height: auto;
}

.divParra {
  font-family: "ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 1.7rem;
  margin-bottom: 4rem;
}

.h1-index {
  font-size: 5rem;
}

.h2-index {
  text-decoration: underline;
}

.img-indexxx {

}

/* CIERRO INDEX */

/* NUESTRA EMPRESA */

.bodyNuestraEmpresa {
  background: #fffc00;
  background: -webkit-linear-gradient(to left, #f5eeb7, #fece18);
  background: linear-gradient(to left, #f5eeb7, #fece18);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.mainNuestra {
  display: flex;
  flex-wrap: wrap;
}

.divVideo iframe {
  width: 800px;
  height: 600px;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.sectionNuestraEmpresa_1 {
  max-width: 40%;
  max-height: 5000px;
  padding-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: transparent;

  margin-right: 2rem;
  margin-left: 1rem;
  margin-top: 4rem;
}

.sectionNuestraEmpresa_a {
  max-width: 50%;
  max-height: 5000px;
  padding-left: 1rem;
  display: flex;
  width: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  margin-top: 4rem;
  
}

.sectionNuestraEmpresa_2 {
  max-width: 40%;
  max-height: 5000px;
  padding-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: transparent;

  margin-right: 2rem;
  margin-left: 1rem;
  margin-top: 4rem;
}

.sectionNuestraEmpresa_b {
  max-width: 50%;
  max-height: 5000px;
  padding-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  flex-wrap: wrap;
  margin-right: 2rem;
  margin-left: 1rem;
  margin-top: 4rem;
  
}

.sectionNuestraEmpresa_3 {
  max-width: 40%;
  max-height: 5000px;
  padding-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: transparent;

  margin-right: 2rem;
  margin-left: 1rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.sectionNuestraEmpresa_c {
  max-width: 50%;
  max-height: 5000px;
  padding-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  flex-wrap: wrap;
  margin-right: 2rem;
  margin-left: 1rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
  
}

.divImg-NuestraEmpresa {
  max-height: auto;
}

.img3 img {
  width: 800px;
  height: 600px;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.img4 img {
  width: 800px;
  height: 600px;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.parra-nuestraEmpresa {
  font-family: "ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 1.7rem;
  margin-bottom: 4rem;
}

.h2-nuestraEmpresa2 {
  font-weight: bold;
  font-size: 5rem;
}

.divTittleNuestra {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}



/* SUSTENTABILIDAD */

.bodySustentabilidad {
  background: #fffc00;
  background: -webkit-linear-gradient(to left, #f5eeb7, #fece18);
  background: linear-gradient(to left, #f5eeb7, #fece18);
}

.mainSustenta {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.sustenta1 {
  max-width: auto;
  max-height: 5000px;
  padding-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  box-shadow: 10px 2px 7px;
}

.sustenta2 {
  max-width: 800px;
  max-height: 5000px;
  padding-left: 1rem;
  display: flex;
  width: 100%;

  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  box-shadow: 10px 2px 7px;
}

.sustenta3 {
  max-width: 800px;
  max-height: 5000px;
  padding-left: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  box-shadow: 10px 2px 7px;
}

.sustenta4 {
  max-width: auto;
  max-height: 5000px;
  padding-left: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  box-shadow: 10px 2px 7px;
}

.sustenta5 {
  max-width: 800px;
  max-height: 5000px;
  padding-left: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  box-shadow: 10px 2px 7px;
}

.sustenta6 {
  max-width: 800px;
  max-height: 5000px;
  padding-left: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  box-shadow: 10px 2px 7px;
}

.parrafo-sustentable {
  font-family: "ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 1.7rem;
  margin-bottom: 4rem;
}

.h2-sustentabilidad {
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 3.2rem;
  text-decoration: underline;
}

/* INNOVACIONES */

.bodyInnovaciones {
  background: #fffc00;
  background: -webkit-linear-gradient(to left, #f5eeb7, #fece18);
  background: linear-gradient(to left, #f5eeb7, #fece18);
}

.mainInnova {
  font-family: "Teko", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  background-color: transparent;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.obras1 {
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 10rem;
  padding-top: 5rem;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  margin-right: 2rem;
  margin-left: 15rem;
  width: 40%;
  height: auto;
  background: #0b486b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f56217,
    #0b486b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f56217,
    #0b486b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.obras1 img {
  width: 500px;
  height: 300px;
}

.obras2 {
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  background-color: transparent;
  margin-top: 10rem;
  padding-top: 5rem;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  margin-left: 2rem;
  width: 40%;
  height: auto;
  background: #0b486b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f56217,
    #0b486b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f56217,
    #0b486b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.obras2 img {
  width: 500px;
  height: 300px;
}

.galeria2024:hover .imgInnovaciones {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  cursor: pointer;
}

.galeria2023:hover .imgInnovaciones {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  cursor: pointer;
}

.galeria2023:hover .imgInnovaciones {
  filter: opacity(0.5);
}

.galeria2024:hover .imgInnovaciones {
  filter: opacity(0.5);
}

.h2Proyectos {
  font-weight: bold;
  font-size: 3rem;
  text-decoration: underline;
  display: flex;
}

.h2divsInno {
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 3rem;
}


.h2InnoFirst {
  font-size: 3.2rem;
  font-weight: bold;
}

/* CONTACTO */

.bodyContact {
  background: #fffc00;
  background: -webkit-linear-gradient(to left, #f5eeb7, #fece18);
  background: linear-gradient(to left, #f5eeb7, #fece18);
}

.mainContact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 100%;
}

.infoContact {
  background-color: transparent;
  vertical-align: middle;
  width: 300px;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  color: black;
  box-shadow: 7px 13px 37px #000;
  list-style: none;
}

.infoContact ul {
  margin-top: 2rem;
  text-decoration: none;
  font-weight: bold;
}

.infoContact ul li {
  margin-top: 2rem;
  text-decoration: none;
  list-style: none;
}

.infoContact ul li a {
  text-decoration: none;
  font-size: 1.5rem;
}

.boldInfo {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 2rem;
}

.principalContact {
  font-size: 2rem;
  display: inline-block;
  color: black;
  vertical-align: middle;
}

.principalContact span {
  font-weight: bold;
  vertical-align: middle;
}

.divForm {
  background-color: transparent;
  vertical-align: middle;
  width: 400px;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  color: transparent;
  box-shadow: 7px 13px 37px #000;
}

.contenedor h1 {
  font-size: 2rem;
  margin-top: 15px;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.control {
  width: 100%;
  background-color: #fece18;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid black;
  font-size: 2rem;
}

.boton {
  width: 100%;
  height: 45px;
  margin-top: 15px;
  border-radius: 4px;
  border: none;
  color: black;
  text-transform: uppercase;
  background: linear-gradient(to left top, yellow, #fece19);
  font-size: 2rem;
}

.my-button {
  position: fixed;
  right: 0px;
  bottom: 110px;
  width: 70px;
  height: 70px;
  z-index: 100;
}

.map {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.mapp {
  width: 100%;
  height: auto;
}

.divH1General{
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.h1-General {
  font-size: 5rem;
  font-weight: bold;
  display: flex;
  align-content: center;
  justify-content: center;
  text-shadow: #fece18;
  margin-bottom: 0rem;
  font-family: "Teko", sans-serif;
}

/* cierro contacto */

/*--------------------------- FOOTER -----------------------*/

.logoFooter {
  width: 34px;
  height: 34px;
}

.footerCopy{
  font-weight: bold;

}

.link-dark{
margin-left: 5rem;
}

/* media movil a tablet */

@media (min-width: 320px) and (max-width: 700px) {
 
  /* nuestra empresa */
  .mainNuestra {
    max-width: 700px;
    min-width: 320px;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .sectionNuestraEmpresa_1 {
    max-width: 700px;
    min-width: 320px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    max-height: auto;
  }
  .sectionNuestraEmpresa_a {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    max-height: 5000px;
  }
  .sectionNuestraEmpresa_2 {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    max-height: auto;
  }
  .sectionNuestraEmpresa_b {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    max-height: 5000px;
  }
  .sectionNuestraEmpresa_3 {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    max-height: auto;
  }
  .sectionNuestraEmpresa_c {
    max-width: 700px;
    max-height: 5000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
  .divImg-NuestraEmpresa {
    height: auto;
    width: 100%;
  }
  .divVideo {
    height: auto;
    width: 80%;
  }
  .divImg-NuestraEmpresa img {
    height: 100px;
    width: 100%;
  }
  .divVideo iframe {
    height: 200px;
    width: 100%;
  }
  .img4 img {
    height: 200px;
    width: 100%;
  }
  .img3 img {
    height: 200px;
    width: 100%;
  }
  .sectionNuestraEmpresa_3 {
    height: auto;
  }
  .divTittleNuestra {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .h2-nuestraEmpresa2 {
    font-size: 2rem;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  /* cierro nuestra empresa */

  /* contacto */

  .bodyContact{
    min-width: 320px;
    max-width: 700px;
  }
  
  .mainContact{
    min-width: 320px;
    max-width: 700px;
    max-width: 100%;
  }

  .divForm {
    width: 80%;
    margin: 0 auto;
  }

  .infoContact {
    height: auto;
    width: 80%;
  }

  .map {
    display: flex;
    min-width: 320px;
    align-content: center;
    justify-content: center;
    width: 300px;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  
  .mapp {
    width: 220px;
    height: auto;
  }

  /* cierro contacto */

  /* innovaciones */

  .bodyInnovaciones{
    min-width: 320px;
    max-width: 700px;
  }


  .mainInnova{
    min-width: 320px;
    max-width: 700px;
  }

  .obras1 {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  .obras2 {
    width: 80%;
    margin: 0 auto;
  }

  /* cierro innovaciones */
}

/* media tablet a desktop */


@media (min-width: 701px) and (max-width:1540px) {
  
  /* innovaciones */
  .mainInnova {
    font-family: "Teko", sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    background-color: transparent;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
  }

  .obras1 {
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 10rem;
    padding-top: 5rem;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    margin-right: 2rem;
    margin-left: 10rem;
    width: 40%;
    height: auto;
    background: #0b486b;
    background: -webkit-linear-gradient(
      to right,
      #f56217,
      #0b486b);
    background: linear-gradient(
      to right,
      #f56217,
      #0b486b);
  }

  .obras1 img {
    width: 500px;
    height: 300px;
  }

  .obras2 {
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    background-color: transparent;
    margin-top: 10rem;
    padding-top: 5rem;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    margin-left: 2rem;
    width: 40%;
    height: auto;
    background: #0b486b;
    background: -webkit-linear-gradient(
      to left,
      #f56217,
      #0b486b); 
    background: linear-gradient(
      to left,
      #f56217,
      #0b486b);
  }

  .obras2 img {
    width: 500px;
    height: 300px;
  }

  .galeria2024:hover .imgInnovaciones {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    cursor: pointer;
  }

  .galeria2023:hover .imgInnovaciones {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    cursor: pointer;
  }

  .galeria2023:hover .imgInnovaciones {
    filter: opacity(0.5);
  }

  .galeria2024:hover .imgInnovaciones {
    filter: opacity(0.5);
  }
/* cierro innovaciones */

}
