/*abro footer*/
.footerGrid {
  ul li a {
    font-weight: bold;
    color: black;
  }
}

.link-dark {
  margin-left: 5rem;
}
.footerCopy {
  font-weight: bold;
  font-size: 1.6rem;
}

.logoFooter {
  width: 34px;
  height: 34px;
}

.footerText a {
  font-size: bold;
  font-size: 1.3rem;
}
/*cierro footer*/
