/*abro footer*/
.footerGrid {
  ul li a {
    font-weight: bold;
    color: black;
  }
}

.link-dark {
  margin-left: 5rem;
}
.footerCopy {
  font-weight: bold;
}

.logoFooter {
  width: 34px;
  height: 34px;
}
/*cierro footer*/
