/*abro footer*/
.footerGrid {
  ul li a {
    font-weight: bold;
    color: black;
    justify-content: space-between;
  }
}

.footerCopy {
  font-weight: bold;
  font-size: 1.6rem;
}

.logoFooter {
  width: 34px;
  height: 34px;
}

.footerText a {
  font-size: bold;
  font-size: 1.3rem;
  margin-left: 5rem;
}

.footerLi a {
  justify-content: space-between;
  margin-left: 5rem;
}
/*cierro footer*/
