.mainInnova {
  font-family: "Teko", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  background-color: transparent;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.obras1 {
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 10rem;
  padding-top: 5rem;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  margin-right: 2rem;
  margin-left: 15rem;
  width: 40%;
  height: auto;
  background: linear-gradient(to right, #ffe000, #799f0c);

  .galeria2023 {
    margin-top: 3rem;

    &:hover .imgInnovaciones {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      cursor: pointer;
      filter: opacity(0.5);

      .h2divsInno {
        font-size: 1.7rem;
        font-weight: bold;
        margin-top: 3rem;
      }
    }
  }
}
.obras1 img {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

.h2Proyectos {
  font-weight: bold;
  font-size: 3rem;
  text-decoration: underline;
  display: flex;
  margin-top: 2rem;
}

.h2InnoFirst {
  font-size: 3.2rem;
  font-weight: bold;
  text-orientation: sideways;
  margin-top: 3rem;
}
