/*MEDIA QUERY*/ /*MEDIA QUERY*/ /*MEDIA QUERY*/ /*MEDIA QUERY*/ /*MEDIA QUERY*/ /*MEDIA QUERY*/ /*MEDIA QUERY*/ /*MEDIA QUERY*/ /*MEDIA QUERY*/ /*MEDIA QUERY*/ /*MEDIA QUERY*/ /*MEDIA QUERY*/ /*MEDIA QUERY*/ /*MEDIA QUERY*/ /*MEDIA QUERY*/ /*MEDIA QUERY*/ /*MEDIA QUERY*/ /*MEDIA QUERY*/

/*MEDIA QUERY NUESTRA EMPRESA*/

@media (min-width: 320px) and (max-width: 700px) {
  /*index

  .bodyIndex{
    min-width: 320px;
    max-width: 700px;

    .mainIndex{
      min-width: 320px;
      max-width: 700px;
    }
  
  }

  .graphh{
    margin-right:4rem;
}

.divCanvas{
  min-width: 320px;
    height: 200px;
    width: 50%;
    max-height: 600px;
    margin: 0 auto;
}
    .canvass{
        height: 380px;
        width: 50%;
        margin: 0 auto;
    }

    .table-responsive{
      width: 95%;
  }

  #myCarousel{
    min-width: 320px;
    max-width: 700px;
  }*/
  /* nuestra empresa */

  @mixin MediaNuestraEmpresa123 {
    max-width: 700px;
    max-height: 5000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    max-height: auto;
  }

  @mixin MediaNuestraEmpresaABC {
    max-width: 700px;
    max-height: 5000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .bodyNuestraEmpresa {
    width: 100%;
  }

  .mainNuestra {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .sectionNuestraEmpresa_1,
  .sectionNuestraEmpresa_2,
  .sectionNuestraEmpresa_3 {
    @include MediaNuestraEmpresa123;
  }

  .sectionNuestraEmpresa_a,
  .sectionNuestraEmpresa_b,
  .sectionNuestraEmpresa_c {
    @include MediaNuestraEmpresaABC;
  }

  .divVideo {
    height: 250px;
    width: 100%;
    max-height: 5000px;
  }
  .divVideo iframe {
    height: 50px;
    max-height: 200px;
    width: 100%;
  }

  .divImg-NuestraEmpresa {
    height: auto;
    width: 100%;
  }

  .divImg-NuestraEmpresa img {
    height: 100px;
    width: 100%;
  }

  .img3 img {
    height: 200px;
    width: 100%;
    background-size: cover;
    object-fit: cover;
  }

  .img4 img {
    height: 200px;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  .divTittleNuestra {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    .h2-nuestraEmpresa2 {
      font-size: 2rem;
      display: flex;
      align-content: center;
      justify-content: center;
    }
  }

  /* cierro media query nuestra empresa */

  /* media query contacto */

  .bodyContact {
    min-width: 320px;
    width: 100%;

    .mainContact {
      min-width: 320px;
      width: 100%;
    }
  }

  .contact-profile {
    padding: 0px;
    margin: 0 auto;
    width: 250px;
    width: 80%;
  }

  .divForm {
    width: 80%;
  }

  .infoContact {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  .map {
    width: 80%;
    height: 400px;

    .mapp {
      width: 200px;
    }
  }

  .wpp {
    width: 70px;
    max-width: 70px;

    .my-button {
      position: fixed;
      right: 0;
      bottom: 110px;
      width: 60px;
      height: 60px;
      z-index: 100;
    }
  }
  /* cierro media query contacto */

  /* media query innovaciones */

  .bodyInnovaciones {
    min-width: 320px;
    max-width: 700px;

    .mainInnova {
      min-width: 320px;
      max-width: 700px;
    }
  }

  .obras1 {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  .obras2 {
    width: 80%;
    margin: 0 auto;
  }

  .obras1 img {
    object-fit: cover;
  }

  .obras2 img {
    object-fit: cover;
  }

  .footerGrid {
    min-width: 320px;
    max-width: 700px;
    width: 100%;
  }
}
/* cierro media query innovaciones */

/* media tablet a desktop */
/* media tablet a desktop */
/* media tablet a desktop */
/* media tablet a desktop */
@media (min-width: 701px) and (max-width: 1540px) {
  /* innovaciones */
  .mainInnova {
    font-family: "Teko", sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    background-color: transparent;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
  }

  .obras1 {
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 10rem;
    padding-top: 5rem;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    margin-right: 2rem;
    margin-left: 10rem;
    width: 39%;
    height: auto;
    background: #fffc00; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffffff,
      $color-base
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffffff,
      $color-base
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .galeria2023:hover .imgInnovaciones {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
      cursor: pointer;

      .galeria2023:hover .imgInnovaciones {
        filter: opacity(0.5);
      }
    }
  }

  .obras1 img {
    width: 500px;
    height: 300px;
    background-size: cover;
    object-fit: cover;
  }

  .obras2 {
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    background-color: transparent;
    margin-top: 10rem;
    padding-top: 5rem;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    margin-left: 2rem;
    width: 39%;
    height: auto;
    background: #fffc00; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      #ffffff,
      $color-base
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #ffffff,
      $color-base
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .galeria2024:hover .imgInnovaciones {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
      cursor: pointer;

      .galeria2024:hover .imgInnovaciones {
        filter: opacity(0.5);
      }
    }
  }
  .obras2 img {
    width: 500px;
    height: 300px;
    background-size: cover;
    object-fit: cover;
  }
}
/* cierro innovaciones */

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/*media tablet a desktop nuestra empresa*/

@media (min-width: 700px) and (max-width: 1400px) {
  @mixin MediaNuestraEmpresa123 {
    max-width: 80%;
    max-height: 5000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    max-height: auto;
  }

  @mixin MediaNuestraEmpresaABC {
    max-width: 90%;
    max-height: 5000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .bodyNuestraEmpresa {
    width: 100%;
  }

  .mainNuestra {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .sectionNuestraEmpresa_1,
  .sectionNuestraEmpresa_2,
  .sectionNuestraEmpresa_3 {
    @include MediaNuestraEmpresa123;
  }

  .sectionNuestraEmpresa_a,
  .sectionNuestraEmpresa_b,
  .sectionNuestraEmpresa_c {
    @include MediaNuestraEmpresaABC;
  }
  .divVideo {
    height: 400px;
    width: 90%;
    max-height: 5000px;
    width: 100%;
  }
  .divVideo iframe {
    height: 30px;
    max-height: 350px;
    width: 100%;
  }

  .divImg-NuestraEmpresa {
    height: auto;
    width: 100%;
  }

  .divImg-NuestraEmpresa img {
    height: 100px;
    width: 100%;
  }

  .img3 img {
    height: 350px;
    width: 100%;
    object-fit: cover;
  }

  .img4 img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
}

/*cierro media tablet desktop nuestra empresa*/

/*cierro media querys*/

@media screen and (max-width: 1024px) {
  .sectionBC {
    display: none;
  }
}
