.table-responsive {
  overflow-x: auto;
}

.sectionBC {
  width: 100%;
  background-color: transparent;
  margin-top: 5rem;
  margin-right: 1rem;
  margin-bottom: 5rem;
}

.graphh {
  margin-right: 4rem;
}

.divCanvas {
  height: 600px;
  width: 100%;
  max-height: 600px;
}
.canvass {
  height: 380px;
  width: 900px;
  max-height: 600px;
}

.table-responsive {
  width: 90%;
}
